@charset "uft-8";
html { font-size: 20px; }
body { font-size: 1rem; }

header { background: #f6f5ef; border-top: 2px solid #000; }
header > div { position: relative; width: 54.5rem; margin: 0 auto; }
header > div::after { content: ""; display: block; clear: both; }
header > div h1 { float: left; padding: 22px 0 24px; }
header > div nav { float: right; }
header > div nav > ul > li { float: left; }
header > div .spot { position: absolute; right: 0; top: 0; }
header > div .spot li { float: left; }


