@charset "uft-8";
html { font-size: 20px; }
body { font-size: 1rem; }

header { background: #f6f5ef; border-top: 2px solid #000; }
header > div { position: relative; width: 54.5rem; margin: 0 auto; }
header > div::after { content: ""; display: block; clear: both; }
header > div h1 { float: left; padding: 1.1rem 0 1.2rem; }
header > div nav { float: right; padding: 3.4rem 0 0 0; }
header > div nav > ul > li { float: left; }
header > div nav > ul > li > a { display: block; padding: 15px 1.25rem 0; height: 52px; font-size: .7rem; color: #333; line-height: 100%; }
header > div .spot { position: absolute; right: 2.25rem; top: 1rem; }
header > div .spot li { float: left; position: relative; }
header > div .spot li > a { font-size: .7rem; padding: 0 0.75rem; color: #333; }
/* 첫 번째를 제외한 다음 li형제부터 적용되는 css */
header > div .spot li ~ li > a::after { content: ""; position: absolute; left: 0; top: 50%; width: 1px; height: .6rem; background: #e5e5e5; transform: translateY(-25%); }
header > div .spot li:last-child a::after { display: none; }
header > div .spot li:last-child a { display: block; width: 1.7rem; height: 1.7rem; text-align: center; line-height: 1.7rem; font-size: 0; color: transparent; background: #fff; border: 1px solid #ccc; padding: 0; border-radius: 0.25rem;}
header > div .spot li:last-child a::before { content: "\e97a"; font-family: 'xeicon'; font-size: 1.2rem; color: #000; }